.sec01,
.sec02,
.sec03,
.sec04,
.sec05,
.sec06,
.sec07,
.sec08,
.sec09 {
  width: 100%;
  height: fit-content;
  font-family: "SUIT Variable";
  color: #1d1d1f;
}
@media screen and (max-width: 1025px) {
  .sec01 {
    padding-top: 56px;
  }
}
@media screen and (max-width: 500px) {
  .sec01 {
    padding-top: 50px;
  }
}
.secInner {
  width: 90%;
  max-width: 1520px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 720px) {
  .secInner {
    padding: 50px 0 100px 0;
    gap: 20px;
  }
}
.titleBox {
  margin-bottom: 30px;
}
.title1 {
  font-weight: 800;
  text-align: center;
  line-height: 1.4em;
}
.contText {
  text-align: center;
  color: #8f8f93;
  font-weight: 600;
  margin-top: 30px;
}
.arrowBtn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 12px rgba(177, 164, 236, 0.35);
  border-radius: 50px;
  border: 1px solid #ededed;
  width: 280px;
  height: 75px;
  margin: 0 auto;
  padding: 0 15px 0 30px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
}
.arrowBtn figure {
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1 / 1;
  transition: transform 0.4s;
  background-color: #ffffff60;
}
.arrowBtn figure img {
  width: 28px;
  transform: rotate(-45deg);
  transition: transform 0.4s;
}
.arrowBtn:hover figure img {
  transform: rotate(0);
}
@media screen and (max-width: 720px) {
  .arrowBtn {
    width: 140px;
    height: 37.5px;
    padding: 0 5px 0 15px;
  }
  .arrowBtn figure {
    width: 25px;
  }
  .arrowBtn figure img {
    width: 10px;
  }
  .arrowBtn span {
    font-size: 12px;
  }
}
/* 반응형 따른 줄바꿈 */
.br_720o {
  display: none;
}
@media screen and (max-width: 720px) {
  .br_720x {
    display: none;
  }
  .br_720o {
    display: block;
  }
  #b_footer .b_ft_top .famSite > li {
    width: 140px;
  }
}
@media screen and (min-width: 721px) {
  br.br_m {
    display: none;
  } /*br 모바일에서만 줄내림*/
}
@media screen and (max-width: 1025px) {
  .archLogo {
    width: 200px;
    height: auto;
  }
}
@media screen and (max-width: 720px) {
  .archLogo {
    width: 150px;
    height: auto;
  }
}
.c_grn {
  color: #1bc768;
}
.bg_grn {
  background-color: #1bc768;
}
.c_pur {
  color: #5d5df9;
}
.bg_pur {
  background-color: #5d5df9;
}
.c_pink {
  color: #ff86d7;
}
/* Sec02 */
.yoyang01 {
  width: fit-content;
  margin: 0 auto;
  border-radius: 200px;
  background-color: #e9fff3;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.yoyang01 div {
  background-color: #fff;
  border: 2px solid #1bc768;
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yoyang01 div > p {
  color: #1bc768;
  text-align: center;
  font-weight: 600;
}
.yoyang01 > p {
  color: #cacaca;
  font-weight: 800;
}

@media screen and (max-width: 860px) {
  .yoyang01 div {
    width: 140px;
  }
}
@media screen and (max-width: 720px) {
  .yoyang01 {
    gap: 10px;
    padding: 10px;
  }
  .yoyang01 div {
    width: 120px;
  }
}
@media screen and (max-width: 500px) {
  .yoyang01 {
    gap: 5px;
    padding: 10px;
  }
  .yoyang01 div {
    width: 90px;
  }
  .yoyang01 div > p {
    font-size: 12px;
  }
}
/* Sec03 */
.tab_menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 10px 0;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.tab_btn {
  flex: 1;
  word-break: keep-all;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #1bc768;
  color: #1bc768;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  transition:
    color 0.3s,
    font-weight 0.3s;
}

.tab_btn.active {
  color: #fff;
  background-color: #1bc768;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .tab_menu {
    gap: 10px;
  }
  .tab_btn {
    padding: 10px 0;
    line-height: 1.2em;
  }
}
.sec03 .content {
  width: 80%;
  height: 480px;
  margin-bottom: 100px;
}
.sec03 .content ul {
  width: 100%;
  position: relative;
  height: 100%;
}
.sec03 .content ul li {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f7;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 10px;
  padding: 30px 30px;
}
.sec03 .content .txt_box {
  flex: 1;
  min-width: 310px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.sec03 .content .txt_box .tit_box .index {
  font-weight: 800;
}
.sec03 .content .txt_box .tit_box p.title {
  margin-top: 10px;
  font-weight: 800;
  line-height: 1.2em;
}
.sec03 .content .txt_box .lists p {
  margin: 20px 0;
  font-weight: 600;
  padding-left: 20px;
  position: relative;
}
.sec03 .content .txt_box .lists p::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  top: 9px;
  left: 0;
}
.sec03 .content .txt_box .lists.grn p::before {
  background-color: #1bc768;
}
.sec03 .content .txt_box .lists.pur p::before {
  background-color: #5d5df9;
}
.sec03 .content .txt_box .lists.pink p::before {
  background-color: #ff86d7;
}
.sec03 .content .txt_box .hashes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sec03 .content .txt_box .hashes span {
  border-radius: 20px;
  font-weight: 600;
  background-color: #fff;
  border: 1.5px solid #ef694c;
  padding: 5px 12px;
}
.sec03 .content .txt_box .hashes span.c_grn {
  border: 1.5px solid #1bc768;
}
.sec03 .content .txt_box .hashes span.c_pur {
  border: 1.5px solid #5d5df9;
}
.sec03 .content .txt_box .hashes span.c_pink {
  border: 1.5px solid #ff86d7;
}
.sec03 .content li .img_box {
  flex: 1.2;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.sec03 .content li .img_box figure {
  position: relative;
  height: calc(100% - 36px);
  width: 100%;
}
.sec03 .content li .img_box figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; /* ← auto에서 변경 */
  object-fit: contain;
}
.sec03 .content li .img_box .arrow_set {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.sec03 .content li .img_box .arrow_set svg {
  cursor: pointer;
}
.sec03 .content li .img_box .arrow_set svg:not(.on) {
  cursor: default;
  pointer-events: none;
}
.sec03 .content li .img_box .arrow_set svg.on path {
  fill: #ef694c;
  transition: fill 0.3s ease;
}
.sec03 .content li .img_box .arrow_set.grn svg.on path {
  fill: #1bc768;
}
.sec03 .content li .img_box .arrow_set.pur svg.on path {
  fill: #5d5df9;
}
.sec03 .content li .img_box .arrow_set.pink svg.on path {
  fill: #ff86d7;
}
.sec03 .content li .img_box .arrow_set .arrow_right {
  transform: rotate(180deg);
}
@media screen and (max-width: 1280px) {
  .sec03 .content {
    height: 400px;
  }
  .sec03 .content .txt_box .lists p {
    margin: 10px 0;
  }
}
@media screen and (max-width: 1080px) {
  .sec03 .content {
    height: 600px;
  }
  .sec03 .content ul li {
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
  }
  .sec03 .content .txt_box {
    width: 100%;
  }
  .sec03 .content li .img_box {
    width: 100%;
  }
  .sec03 .content li .img_box figure img {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 760px) {
  .sec03 .content .txt_box {
    flex: none;
    min-width: 0;
    height: auto;
  }

  .sec03 .content li .img_box {
    flex: none;
    height: auto;
    gap: 5px;
  }
  .sec03 .content li .img_box figure {
    height: auto;
    aspect-ratio: 71 / 40;
  }
  .sec03 .content li .img_box figure img {
    width: 100%;
    height: auto;
  }
  .sec03 .content li .img_box .arrow_set svg {
    width: 14px;
    height: 18px;
  }
}
@media screen and (max-width: 500px) {
  .sec03 .content {
    width: 90%;
    height: 500px;
  }
  .sec03 .content ul li {
    padding: 20px;
    justify-content: flex-end;
    gap: 10px;
  }
  .sec03 .content .txt_box .lists p {
    padding-left: 12px;
  }
  .sec03 .content .txt_box .lists p::before {
    width: 4px;
    height: 4px;
    top: 7px;
  }
  .sec03 .content .txt_box .hashes span {
    padding: 4px 8px;
  }
}
/* sec04 */
.sec04 {
  background-color: #f3f3f3;
}
.sec04 .title1 {
  font-weight: 600;
}
.sec04 .title1 span {
  font-weight: 800;
}
@media screen and (max-width: 1080px) {
  .sec04 .title1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 720px) {
  .sec04 .title1 {
    font-size: 26px;
  }
}
.sec04 .secInner ul.list03 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
}
.sec04 .secInner ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sec04 .secInner ul li .imgCir {
  transition: all 0.5s ease;
  border: 2px solid #fff;
  padding-top: 25px;
  display: flex;
  flex-flow: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1d1d1f;
  aspect-ratio: 1 / 1;
  width: 220px;
  display: block;
  border-radius: 300px;
  background-color: #fff;
  margin-bottom: 20px;
}
.sec04 .secInner ul li .imgCir p {
  margin-top: 10px;
  font-weight: 800;
}
.sec04 .secInner figure {
  width: 100%;
}
.sec04 .secInner figure img {
  display: block;
  opacity: 1;
  height: 120px;
  width: auto;
  margin: 0px auto;
}
.sec04 .secInner .text_list {
  transition: all 0.5s ease;
  width: 340px;
  height: fit-content;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  color: #1d1d1f;
  text-align: center;
}
.sec04 .secInner .text_list p {
  word-break: keep-all;
  font-weight: 600;
  line-height: 1.25em;
}
.sec04 .secInner ul li:hover .imgCir {
  border: 2px solid #5d5df9;
}
.sec04 .secInner ul li:hover .text_list {
  box-shadow: 0 0 10px 3px #5d5df920;
}
@media screen and (max-width: 1280px) {
  .sec04 .secInner ul.list03 {
    gap: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .sec04 .secInner ul.list03 {
    flex-flow: column;
    gap: 100px;
  }
  .sec04 .secInner ul li .imgCir p {
    font-size: 22px;
  }
}
/* Sec05 */
.sec05 {
  overflow: hidden;
}
.sec05 .content {
  width: 100%;
  overflow: hidden;
}
.sec05 .title1 span.c_grn {
  font-weight: 600;
}
.sec05 .title1 span {
  font-weight: 800;
}
.sec05 .pur {
  margin-top: 30px;
}
.card_slide {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px 1px #1d1d1f20;
  position: relative;
  overflow: hidden;
}
.card_slide.active {
  border: 3px solid #1bc768;
}
.pur .card_slide.active {
  border: 3px solid #5d5df9;
}
.card_bg {
  filter: brightness(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  aspect-ratio: 1 / 1;
}
.card_slide.active .card_bg {
  filter: brightness(1);
}
.card_slide p {
  text-align: center;
  border-radius: 5px;
  width: max-content;
  padding: 5px 10px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* fs_22 사이즈 */

.card_slide.active p {
  background-color: rgba(27, 199, 104, 0.84);
}
.pur .card_slide.active p {
  background-color: rgba(93, 93, 249, 0.84);
}
/* Sec06 */
.sec06 {
  background: url(/img_physiotherapy/mully_footer_bg.png) no-repeat bottom
    center;
  background-size: 100% auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10%;
  overflow: hidden;
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
  aspect-ratio: 3.2 / 1;
}
.sec06 .txt_box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sec06 .txt_box p {
  color: #fff;
  width: max-content;
  margin: 25px 0 45px;
  text-align: left;
  font-weight: 600;
}
.sec06 .txt_box p span {
  font-weight: 800;
}
.sec06 .txt_box .arrowBtn {
  margin: 0;
  border: none;
}

@media screen and (max-width: 1281px) {
  .sec06 .arrowBtn {
    padding: 5px 5px 5px 15px;
    width: 220px;
    height: 60.5px;
  }
}
@media screen and (max-width: 880px) {
  .sec06 .txt_box p {
    font-size: 30px;
    margin: 10px 0 25px;
  }
  .sec06 .txt_box p span {
    font-size: 38px;
  }
  .sec06 .arrowBtn {
    width: 180px;
    height: 44.5px;
  }
  .sec06 .arrowBtn figure {
    width: 34.5px;
  }
  .sec06 .arrowBtn figure img {
    width: 20px;
  }
}
@media screen and (max-width: 720px) {
  .sec06 {
    padding-left: 5%;
  }
  .sec06 .txt_box p {
    font-size: 22px;
  }
  .sec06 .txt_box p span {
    font-size: 28px;
  }
  .sec06 .arrowBtn {
    width: 140px;
    height: 34.5px;
    padding: 6px 6px 6px 10px;
  }
  .sec06 .arrowBtn figure {
    width: 25px;
  }
  .sec06 .arrowBtn figure img {
    width: 10px;
  }
}
@media screen and (max-width: 500px) {
  .sec06 .txt_box p {
    font-size: 16px;
    line-height: 1.2;
    margin: 10px 0 10px;
  }
  .sec06 .txt_box p span {
    font-size: 18px;
  }
  .sec06 .arrowBtn {
    width: 120px;
    height: 30.5px;
    padding: 6px 6px 6px 8px;
  }
  .sec06 .arrowBtn span {
    font-size: 11px;
  }
  .sec06 .arrowBtn figure {
    width: 22px;
  }
  .sec06 .arrowBtn figure img {
    width: 8px;
  }
}
